myazdfcmc/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "myazdfcmc"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"AzureSqlDatabase2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase2'"
		},
		"SqlServer1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer1'"
		},
		"trigger1_properties_pipeline1_parameters_fileName": {
			"type": "string",
			"defaultValue": "CTS HN BCQT T2.2022-Edited.xlsx"
		},
		"trigger1_properties_pipeline1_parameters_tableName": {
			"type": "string",
			"defaultValue": "BCKD"
		},
		"trigger1_properties_pipeline1_parameters_outputTableName": {
			"type": "string",
			"defaultValue": "BCKDClean"
		},
		"trigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/f814587a-1b49-4080-9bc2-ac6fd6a07e71/resourceGroups/mysa/providers/Microsoft.Storage/storageAccounts/dlvstorage"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "STT",
						"type": "nvarchar"
					},
					{
						"name": "Chỉ tiêu",
						"type": "nvarchar"
					},
					{
						"name": "Tháng/ Quý này",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": " Tháng/ Quý trước ",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": " Tháng/Quý cùng kỳ năm trước ",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": " Kế hoạch Quý này ",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": " Lũy kế đến Tháng/ Quý  này ",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": " Lũy kế cùng kỳ năm trước ",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": " Kế hoạch lũy kế đến Quý này ",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Tăng trưởng so với tháng/quý trước",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Tăng trưởng so với tháng/quý cùng kỳ",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "% /kế hoạch tháng/quý này",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Tăng trưởng lũy kế",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "% kế hoạch lũy kế",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Excel1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "CTS HN BCQT T2.2022-Edited.xlsx"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "1. BC KQKD CTY",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"container": "mycontainer"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OutputCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleanData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "dataCleaned"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "OutputCSV",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          STT as string,",
						"          {Chỉ tiêu} as string,",
						"          {Tháng/ Quý này} as decimal(18,2),",
						"          { Tháng/ Quý trước } as decimal(18,2),",
						"          { Tháng/Quý cùng kỳ năm trước } as decimal(18,2),",
						"          { Kế hoạch Quý này } as decimal(18,2),",
						"          { Lũy kế đến Tháng/ Quý  này } as decimal(18,2),",
						"          { Lũy kế cùng kỳ năm trước } as decimal(18,2),",
						"          { Kế hoạch lũy kế đến Quý này } as decimal(18,2),",
						"          {Tăng trưởng so với tháng/quý trước} as decimal(5,2),",
						"          {Tăng trưởng so với tháng/quý cùng kỳ} as decimal(5,2),",
						"          {% /kế hoạch tháng/quý này} as decimal(5,2),",
						"          {Tăng trưởng lũy kế} as decimal(5,2),",
						"          {% kế hoạch lũy kế} as decimal(5,2)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dataCleaned",
						"dataCleaned filter({Chỉ tiêu} != 'Hàng hóa' && {Chỉ tiêu} != 'Dịch vụ') ~> filter1",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['Output.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/OutputCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sortData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "sql"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "sort1"
						},
						{
							"name": "filter1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          STT as string,",
						"          {Chỉ tiêu} as string,",
						"          {Tháng/ Quý này} as decimal(18,2),",
						"          { Tháng/ Quý trước } as decimal(18,2),",
						"          { Tháng/Quý cùng kỳ năm trước } as decimal(18,2),",
						"          { Kế hoạch Quý này } as decimal(18,2),",
						"          { Lũy kế đến Tháng/ Quý  này } as decimal(18,2),",
						"          { Lũy kế cùng kỳ năm trước } as decimal(18,2),",
						"          { Kế hoạch lũy kế đến Quý này } as decimal(18,2),",
						"          {Tăng trưởng so với tháng/quý trước} as decimal(5,2),",
						"          {Tăng trưởng so với tháng/quý cùng kỳ} as decimal(5,2),",
						"          {% /kế hoạch tháng/quý này} as decimal(5,2),",
						"          {Tăng trưởng lũy kế} as decimal(5,2),",
						"          {% kế hoạch lũy kế} as decimal(5,2)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> sql",
						"sql sort(desc({Tháng/ Quý này}, false)) ~> sort1",
						"sort1 filter({Tháng/ Quý này} != 0) ~> filter1",
						"filter1 derive({Tháng/ Quý Này Dương} = {Tháng/ Quý này} > 0) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          STT as string,",
						"          {Chỉ tiêu} as string,",
						"          {Tháng/ Quý này} as decimal(18,2),",
						"          { Tháng/ Quý trước } as decimal(18,2),",
						"          { Tháng/Quý cùng kỳ năm trước } as decimal(18,2),",
						"          { Kế hoạch Quý này } as decimal(18,2),",
						"          { Lũy kế đến Tháng/ Quý  này } as decimal(18,2),",
						"          { Lũy kế cùng kỳ năm trước } as decimal(18,2),",
						"          { Kế hoạch lũy kế đến Quý này } as decimal(18,2),",
						"          {Tăng trưởng so với tháng/quý trước} as decimal(5,2),",
						"          {Tăng trưởng so với tháng/quý cùng kỳ} as decimal(5,2),",
						"          {% /kế hoạch tháng/quý này} as decimal(5,2),",
						"          {Tăng trưởng lũy kế} as decimal(5,2),",
						"          {% kế hoạch lũy kế} as decimal(5,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"Chỉ tiêu"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "STT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Chỉ tiêu",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Chỉ tiêu",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Tháng/ Quý này",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tháng/ Quý này",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Tháng/ Quý trước",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " Tháng/ Quý trước ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Tháng/Quý cùng kỳ năm trước",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " Tháng/Quý cùng kỳ năm trước ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Kế hoạch Quý này",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " Kế hoạch Quý này ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Lũy kế đến Tháng/ Quý  này",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " Lũy kế đến Tháng/ Quý  này ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Lũy kế cùng kỳ năm trước",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " Lũy kế cùng kỳ năm trước ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Kế hoạch lũy kế đến Quý này",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " Kế hoạch lũy kế đến Quý này ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Tăng trưởng so với tháng/quý trước",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tăng trưởng so với tháng/quý trước",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "Tăng trưởng so với tháng/quý cùng kỳ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tăng trưởng so với tháng/quý cùng kỳ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "% /kế hoạch tháng/quý này",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "% /kế hoạch tháng/quý này",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "Tăng trưởng lũy kế",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tăng trưởng lũy kế",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "% kế hoạch lũy kế",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "% kế hoạch lũy kế",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Excel1",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"tableName": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "cleanData",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "cleanData",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"dataCleaned": {
										"tableName": {
											"value": "@pipeline().parameters.tableName",
											"type": "Expression"
										}
									},
									"sink1": {
										"fileName": "Output.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "cleanData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"Chỉ tiêu"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OutputCSV",
								"type": "DatasetReference",
								"parameters": {
									"fileName": "Output.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"tableName": {
										"value": "@pipeline().parameters.outputTableName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "sortData",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "sortData",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sql": {
										"tableName": "BCKDClean"
									},
									"sink1": {
										"tableName": "BCKDUpdate"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "CTS HN BCQT T2.2022-Edited.xlsx"
					},
					"tableName": {
						"type": "string",
						"defaultValue": "BCKD"
					},
					"outputTableName": {
						"type": "string",
						"defaultValue": "BCKDClean"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Excel1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/dataflows/cleanData')]",
				"[concat(variables('factoryId'), '/datasets/OutputCSV')]",
				"[concat(variables('factoryId'), '/dataflows/sortData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileName": "[parameters('trigger1_properties_pipeline1_parameters_fileName')]",
							"tableName": "[parameters('trigger1_properties_pipeline1_parameters_tableName')]",
							"outputTableName": "[parameters('trigger1_properties_pipeline1_parameters_outputTableName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/mycontainer/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated",
						"Microsoft.Storage.BlobDeleted"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		}
	]
}